<!DOCTYPE html>
<html>
  <head>
    <title>Flask-SocketIO Test</title>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
      integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript" charset="utf-8">
      var socket = io.connect();
      socket.on("connected", function (data) {
        console.log(data);
      });
      socket.emit("test_connect", {
        email: "varun80202314123@example.com",
      });
      socket.on("my", function (result) {
        console.log(result);
      });
      socket.on("my_response", function (result) {
        console.log(result);
      });
    </script>
  </head>
  <body>
    <h1>Flask-SocketIO Test</h1>
    <p>Async mode is: <b>{{ async_mode }}</b><br /></p>
    <h2>Receive:</h2>
    <div id="log"></div>
  </body>
</html>
